.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 500px;
}

.ball{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-image: url("./img/ball.jpg");
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 148px;
    height: 148px;
    background-image: url("./img/answer.png");
    cursor: pointer;
}

.answer-text {
    color: white;
    text-align: center;
    width: 90px;
    font-size: 15px;
    margin-bottom: 30px;

}

.animated{
    animation-name: answer;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.animated-reverse{
    animation-name: answer-reverse;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes answer {
    0%{
        opacity: 1;
    }
    50% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes answer-reverse {
    0%{
        opacity: 1;
    }
    50% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}